---
---

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Bracing Effect, Apps for humans">
    <meta name="keywords" content="iOS,iPhone,iPad,App,Apps,Parsnip,OCR,Text,Photo,Picture,Image">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <title>Bracing Effect</title>

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

    <style type="text/css">
{% capture normalize_css %}{% include css/normalize.scss %}{% endcapture %}
{{ normalize_css | scssify }}
    </style>
    <style type="text/css">
{% capture style_css %}{% include css/style.scss %}{% endcapture %}
{{ style_css | scssify }}
    </style>

</head>
<body class="parallax">
    <div id="intro" class="parallax-group">
        <div class="parallax-down-9">
            <h1>Bracing Effect</h1>
        </div>
    </div>
    <div id="bubbles" class="parallax-group">
    {% assign bubble_count = 10 %}
    {% assign bubble_index = bubble_count | minus:1 %}
    {% for i in (0..3) %}
        <div id="bubble-layer-{{ i }}" class="parallax-layer">
        {% for j in (0..bubble_index) %}
            <div id="bubble-{{ i | times:bubble_count | plus:j }}" class="bubble"></div>
        {% endfor %}
        </div>
    {% endfor %}
    </div>
    <div id="charity" class="parallax-group">
        <h1>Bracing Effect is a proud sponsor of</h1>
        <div id="charity-logo">
            <div id="charity-logo-text">
                <div id="charity-the"><span class="underline left"></span><span>THE</span><span class="underline right"></span></div>
                <div id="charity-human"><span>HUMAN</span></div>
                <div id="charity-fund"><span>FUND</span></div>
                <div id="charity-money"><span>Money for people</span></div>
            </div>
            <div id="charity-logo-image" class="background-image ratio-1x2"><span class="spacer"></span></div>
        </div>
    </div>

    <div id="contact">
        <div id="bracingeffect-logo" class="background-image ratio-2x1"><span class="spacer"></span></div>
        <div class="email">Contact us at <a href="mailto:support@bracingeffect.com">support@bracingeffect.com</a></div>
    </div>
<!--
<script type="text/javascript">
{% include js/jquery-2.0.3.min.js %}
</script>
<script type="text/javascript">
{% include js/jquery.animate-colors-min.js %}
</script>
-->
<script type="text/javascript">
{% include js/modernizr.custom-2.8.3.min.js %}
</script>
<script type="text/javascript">
{% include js/main.js %}
</script>

{% include google_analytics.html %}

</body>
</html>
