<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>Debug</key>
		<false/>
		<key>RequireInAppPurchase</key>
		<false/>
		<key>AppID</key>
		<string>752725886</string>
		<key>CreateContactNoteText</key>
		<string>Added by Parsnip</string>
		<key>DateDisplayFormat</key>
		<string>yyyy&apos;-&apos;MM&apos;-&apos;dd&apos; &apos;HH&apos;:&apos;mm&apos;:&apos;ss</string>
		<key>StatusBarStyle</key>
		<string>Default</string>
		<key>DeleteText</key>
		<string>Delete</string>
		<key>ArchiveText</key>
		<string>Archive</string>
		<key>UnarchiveText</key>
		<string>Unarchive</string>
		<key>UpgradeName</key>
		<string>Parsnip Pro</string>
		<key>UpgradeText</key>
		<string>Buy now to enable all these features:
• Quick copy scanned text
• Add or update contacts
• Open addresses in Apple or Google Maps
• Open links in Safari or Google Chrome
• Call or text to phone numbers
• Email to scanned addresses
• Create calendar events</string>
		<key>TintColor</key>
		<string>40c000</string>
		<key>SelectedTintColor</key>
		<string>40c00060</string>
		<key>DisabledTintColor</key>
		<string>c0c0c0</string>
		<key>TintStartColor</key>
		<string>@TintColor</string>
		<key>TintEndColor</key>
		<string>@TintColor</string>
		<key>NoteThumbnailSize</key>
		<dict>
			<key>Height</key>
			<integer>148</integer>
			<key>Width</key>
			<integer>148</integer>
		</dict>
		<key>Alert</key>
		<dict>
			<key>MaskAlpha</key>
			<real>0.5</real>
			<key>ButtonHeight</key>
			<integer>48</integer>
			<key>ButtonMargin</key>
			<integer>10</integer>
		</dict>
		<key>AlertButton</key>
		<dict>
			<key>BackgroundColor</key>
			<string>ffffff00</string>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>@TintColor</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<integer>22</integer>
				</dict>
			</dict>
			<key>SelectedTitle</key>
			<dict>
				<key>TextColor</key>
				<string>@TintColor</string>
			</dict>
		</dict>
		<key>AlertFirstButton</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<string>7</string>
				<key>Height</key>
				<integer>5</integer>
				<key>Color</key>
				<string>ffffff</string>
				<key>Border</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Bottom</key>
					<string>c0c0c0</string>
				</dict>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>3</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>1</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>0</integer>
					<key>TopRight</key>
					<integer>0</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Width</key>
				<string>7</string>
				<key>Height</key>
				<integer>5</integer>
				<key>Color</key>
				<string>d9d9d9</string>
				<key>Border</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Bottom</key>
					<string>c0c0c0</string>
				</dict>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>3</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>1</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>0</integer>
					<key>TopRight</key>
					<integer>0</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>AlertMiddleButton</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<string>3</string>
				<key>Height</key>
				<integer>3</integer>
				<key>Color</key>
				<string>ffffff</string>
				<key>Border</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Bottom</key>
					<string>c0c0c0</string>
				</dict>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>1</integer>
					<key>Right</key>
					<integer>1</integer>
					<key>Bottom</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Width</key>
				<string>3</string>
				<key>Height</key>
				<integer>3</integer>
				<key>Color</key>
				<string>d9d9d9</string>
				<key>Border</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Bottom</key>
					<string>c0c0c0</string>
				</dict>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>1</integer>
					<key>Right</key>
					<integer>1</integer>
					<key>Bottom</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>AlertLastButton</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<integer>7</integer>
				<key>Height</key>
				<integer>5</integer>
				<key>Color</key>
				<string>ffffff</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>3</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>0</integer>
					<key>TopRight</key>
					<integer>0</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Width</key>
				<integer>7</integer>
				<key>Height</key>
				<integer>5</integer>
				<key>Color</key>
				<string>d9d9d9</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>1</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>3</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>0</integer>
					<key>TopRight</key>
					<integer>0</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>AlertOnlyButton</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<integer>7</integer>
				<key>Height</key>
				<integer>7</integer>
				<key>Color</key>
				<string>ffffff</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>3</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>3</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>3</integer>
					<key>TopRight</key>
					<integer>3</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Width</key>
				<integer>7</integer>
				<key>Height</key>
				<integer>7</integer>
				<key>Color</key>
				<string>d9d9d9</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>3</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>3</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>3</integer>
					<key>TopRight</key>
					<integer>3</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>AlertCancelButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>Cancel</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<true/>
				</dict>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<integer>7</integer>
				<key>Height</key>
				<integer>7</integer>
				<key>Color</key>
				<string>ffffff</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>3</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>3</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>3</integer>
					<key>TopRight</key>
					<integer>3</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Width</key>
				<integer>7</integer>
				<key>Height</key>
				<integer>7</integer>
				<key>Color</key>
				<string>d9d9d9</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>3</integer>
					<key>Left</key>
					<integer>3</integer>
					<key>Right</key>
					<integer>3</integer>
					<key>Bottom</key>
					<integer>3</integer>
				</dict>
				<key>CornerRadius</key>
				<dict>
					<key>TopLeft</key>
					<integer>3</integer>
					<key>TopRight</key>
					<integer>3</integer>
					<key>BottomRight</key>
					<integer>3</integer>
					<key>BottomLeft</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>Dialog</key>
		<dict>
			<key>MaskAlpha</key>
			<real>0.5</real>
			<key>ShadowColor</key>
			<string>00000000</string>
			<key>ShowAnimationScale</key>
			<real>1.4</real>
			<key>HideAnimationScale</key>
			<real>0.7</real>
			<key>CornerRadius</key>
			<integer>6</integer>
			<key>BackgroundSize</key>
			<dict>
				<key>Height</key>
				<integer>280</integer>
				<key>Width</key>
				<integer>280</integer>
			</dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>000000</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<integer>18</integer>
					<key>Bold</key>
					<true/>
				</dict>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<string>15</string>
					<key>Right</key>
					<string>0</string>
					<key>Bottom</key>
					<string>0</string>
					<key>Left</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Description</key>
			<dict>
				<key>TextColor</key>
				<string>404040</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<integer>12</integer>
				</dict>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<string>15</string>
					<key>Right</key>
					<string>15</string>
					<key>Bottom</key>
					<string>0</string>
					<key>Left</key>
					<string>15</string>
				</dict>
			</dict>
		</dict>
		<key>DialogButton</key>
		<dict>
			<key>Height</key>
			<integer>48</integer>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>@TintColor</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>SelectedTitle</key>
			<dict>
				<key>TextColor</key>
				<string>@TintColor</string>
			</dict>
			<key>DisabledTitle</key>
			<dict>
				<key>TextColor</key>
				<string>@DisabledTintColor</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>ffffff00</string>
				<key>Height</key>
				<integer>48</integer>
				<key>Border</key>
				<dict>
					<key>Top</key>
					<integer>1</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Top</key>
					<string>c0c0c0</string>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>d9d9d9</string>
			</dict>
		</dict>
		<key>InAppPurchaseDialogOkButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>OK</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<true/>
				</dict>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<string>280</string>
			</dict>
		</dict>
		<key>InAppPurchaseDialogCancelButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>Cancel</string>
				<key>TextColor</key>
				<string>@TintColor</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<string>140</string>
			</dict>
		</dict>
		<key>InAppPurchaseDialogPurchaseButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>Buy</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<true/>
				</dict>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Width</key>
				<string>140</string>
				<key>Border</key>
				<dict>
					<key>Top</key>
					<integer>1</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>1</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Top</key>
					<string>c0c0c0</string>
					<key>Left</key>
					<string>c0c0c0</string>
				</dict>
			</dict>
		</dict>
		<key>ArchiveTable</key>
		<dict>
			<key>Title</key>
			<string>Archive</string>
		</dict>
		<key>BarButtonItem</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>@TintColor</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>@NavigationBar.Title.Font.Size</string>
				</dict>
				<key>Offset</key>
				<dict>
					<key>Horizontal</key>
					<integer>1</integer>
					<key>Vertical</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>SelectedTitle</key>
			<dict>
				<key>TextColor</key>
				<string>@TintColor</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>@BarButtonItem.Title.Font.Size</string>
				</dict>
				<key>Offset</key>
				<dict>
					<key>Horizontal</key>
					<integer>1</integer>
					<key>Vertical</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>BarButtonItemBackground.png</string>
				<key>Color</key>
				<string>@TintColor</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>1</integer>
					<key>Bottom</key>
					<integer>21</integer>
					<key>Right</key>
					<integer>0</integer>
				</dict>
				<key>VerticalOffset</key>
				<integer>0</integer>
				<key>LandscapeVerticalOffset</key>
				<integer>0</integer>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>BarButtonItemBackground.png</string>
				<key>Color</key>
				<string>@SelectedTintColor</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>1</integer>
					<key>Bottom</key>
					<integer>21</integer>
					<key>Right</key>
					<integer>0</integer>
				</dict>
				<key>VerticalOffset</key>
				<integer>0</integer>
				<key>LandscapeVerticalOffset</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>BarButtonItemBack</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>BarButtonItemBackBackground.png</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>21</integer>
					<key>Bottom</key>
					<integer>21</integer>
					<key>Right</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>BarButtonItemBackBackground.png</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>21</integer>
					<key>Bottom</key>
					<integer>21</integer>
					<key>Right</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
		<key>CaptureCamera</key>
		<dict>
			<key>Margin</key>
			<integer>0</integer>
			<key>Padding</key>
			<dict>
				<key>Bottom</key>
				<integer>88</integer>
			</dict>
		</dict>
		<key>CaptureToggleFlashButton</key>
		<dict>
			<key>Alpha</key>
			<real>0.66</real>
			<key>Width</key>
			<integer>50</integer>
			<key>Height</key>
			<integer>32</integer>
			<key>Image</key>
			<string>ToggleFlashButton.png</string>
			<key>SelectedImage</key>
			<string>ToggleFlashButtonSelected.png</string>
			<key>Margin</key>
			<dict>
				<key>Top</key>
				<string>5</string>
				<key>Right</key>
				<string>5</string>
				<key>Bottom</key>
				<string>93</string>
				<key>Left</key>
				<string>5</string>
			</dict>
		</dict>
		<key>CaptureToolbar</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>00000060</string>
			</dict>
			<key>ClipsToBounds</key>
			<true/>
			<key>Height</key>
			<integer>88</integer>
		</dict>
		<key>CaptureToolbarButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Color</key>
				<string>ffffff</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Color OFF</key>
				<string>@TintColor</string>
				<key>StartColor</key>
				<string>@TintStartColor</string>
				<key>EndColor</key>
				<string>@TintEndColor</string>
			</dict>
		</dict>
		<key>CaptureToolbarCameraButton</key>
		<dict>
			<key>Width</key>
			<integer>88</integer>
			<key>Height</key>
			<integer>88</integer>
			<key>Image</key>
			<dict>
				<key>Padding</key>
				<integer>9</integer>
				<key>Template</key>
				<string>CaptureViewCameraButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Circular</key>
				<true/>
				<key>Padding</key>
				<integer>10</integer>
				<key>Width</key>
				<integer>88</integer>
				<key>Height</key>
				<integer>88</integer>
				<key>ClipMask</key>
				<string>CaptureViewCameraButton.png</string>
			</dict>
		</dict>
		<key>Crop</key>
		<dict>
			<key>Title</key>
			<string>Crop</string>
			<key>MaskAlpha</key>
			<real>0.33</real>
			<key>Symmetrical</key>
			<false/>
			<key>MaximumZoomScale</key>
			<integer>4</integer>
			<key>ZoomMargin</key>
			<integer>24</integer>
			<key>ZoomStep</key>
			<real>1.33</real>
		</dict>
		<key>FocusBoxLight</key>
		<dict>
			<key>Height</key>
			<integer>71</integer>
			<key>Width</key>
			<integer>71</integer>
			<key>Color</key>
			<string>ffffff</string>
			<key>Template</key>
			<string>FocusBox.png</string>
		</dict>
		<key>FocusBoxDark</key>
		<dict>
			<key>Height</key>
			<integer>71</integer>
			<key>Width</key>
			<integer>71</integer>
			<key>Color</key>
			<string>cfcfcf</string>
			<key>Template</key>
			<string>FocusBox.png</string>
		</dict>
		<key>FocusBoxGlow</key>
		<dict>
			<key>Height</key>
			<integer>71</integer>
			<key>Width</key>
			<integer>71</integer>
			<key>Color</key>
			<string>@TintColor</string>
			<key>Template</key>
			<string>FocusBoxGlow.png</string>
		</dict>
		<key>Inbox</key>
		<dict>
			<key>ArchiveButtonTitle</key>
			<string>@ArchiveText</string>
			<key>Title</key>
			<string>Parsnip</string>
			<key>Width</key>
			<integer>256</integer>
			<key>Margin</key>
			<dict>
				<key>Top</key>
				<integer>20</integer>
			</dict>
			<key>MaskAlpha</key>
			<real>0.5</real>
			<key>PushPercentage</key>
			<real>0.2</real>
		</dict>
		<key>Info</key>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>LogoView</key>
			<dict>
				<key>Image</key>
				<string>InfoLogo.png</string>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<integer>15</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>VersionLabel</key>
			<dict>
				<key>TextColor</key>
				<string>000000</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<integer>12</integer>
				</dict>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<integer>10</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CopyrightLabel</key>
			<dict>
				<key>Height</key>
				<integer>36</integer>
				<key>Width</key>
				<integer>172</integer>
				<key>TextColor</key>
				<string>808080</string>
				<key>NumberOfLines</key>
				<integer>2</integer>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>RestoreButton</key>
			<dict>
				<key>Width</key>
				<integer>192</integer>
				<key>Height</key>
				<integer>30</integer>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<integer>15</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
				<key>Title</key>
				<dict>
					<key>Text</key>
					<string>Restore Parsnip Pro</string>
					<key>TextColor</key>
					<string>@TintColor</string>
					<key>Font</key>
					<dict>
						<key>Size</key>
						<integer>15</integer>
					</dict>
				</dict>
				<key>SelectedTitle</key>
				<dict>
					<key>TextColor</key>
					<string>@SelectedTintColor</string>
				</dict>
				<key>BackgroundImage</key>
				<dict>
					<key>Color</key>
					<string>@TintColor</string>
					<key>Template</key>
					<string>ToolbarButtonOutlineBackground.png</string>
					<key>CapInsets</key>
					<dict>
						<key>Top</key>
						<integer>4</integer>
						<key>Left</key>
						<integer>4</integer>
						<key>Right</key>
						<integer>4</integer>
						<key>Bottom</key>
						<integer>4</integer>
					</dict>
				</dict>
				<key>SelectedBackgroundImage</key>
				<dict>
					<key>Color</key>
					<string>@SelectedTintColor</string>
					<key>Template</key>
					<string>ToolbarButtonOutlineBackground.png</string>
					<key>CapInsets</key>
					<dict>
						<key>Top</key>
						<integer>4</integer>
						<key>Left</key>
						<integer>4</integer>
						<key>Right</key>
						<integer>4</integer>
						<key>Bottom</key>
						<integer>4</integer>
					</dict>
				</dict>
			</dict>
			<key>RateButton</key>
			<dict>
				<key>Width</key>
				<integer>192</integer>
				<key>Height</key>
				<integer>30</integer>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<integer>20</integer>
					<key>Right</key>
					<integer>0</integer>
					<key>Bottom</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
				<key>Title</key>
				<dict>
					<key>Text</key>
					<string>☆ Rate Parsnip ☆</string>
					<key>TextColor</key>
					<string>@TintColor</string>
					<key>Font</key>
					<dict>
						<key>Size</key>
						<integer>15</integer>
					</dict>
				</dict>
				<key>SelectedTitle</key>
				<dict>
					<key>TextColor</key>
					<string>@SelectedTintColor</string>
				</dict>
				<key>BackgroundImage</key>
				<dict>
					<key>Color</key>
					<string>@TintColor</string>
					<key>Template</key>
					<string>ToolbarButtonOutlineBackground.png</string>
					<key>CapInsets</key>
					<dict>
						<key>Top</key>
						<integer>4</integer>
						<key>Left</key>
						<integer>4</integer>
						<key>Right</key>
						<integer>4</integer>
						<key>Bottom</key>
						<integer>4</integer>
					</dict>
				</dict>
				<key>SelectedBackgroundImage</key>
				<dict>
					<key>Color</key>
					<string>@SelectedTintColor</string>
					<key>Template</key>
					<string>ToolbarButtonOutlineBackground.png</string>
					<key>CapInsets</key>
					<dict>
						<key>Top</key>
						<integer>4</integer>
						<key>Left</key>
						<integer>4</integer>
						<key>Right</key>
						<integer>4</integer>
						<key>Bottom</key>
						<integer>4</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>BarStyle</key>
			<string>Default</string>
			<key>Translucent</key>
			<true/>
			<key>TintColor</key>
			<string>@TintColor</string>
			<key>ClipsToBounds</key>
			<false/>
			<key>BackIndicator</key>
			<dict>
				<key>Template</key>
				<string>NavigationBarBackIndicator.png</string>
				<key>Color</key>
				<string>@TintColor</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<integer>16</integer>
				</dict>
				<key>TextColor</key>
				<string>000000</string>
				<key>VerticalOffset</key>
				<integer>0</integer>
				<key>LandscapeVerticalOffset</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>NavigationBarButton</key>
		<dict>
			<key>RightSpacer</key>
			<integer>-11</integer>
			<key>Width</key>
			<integer>44</integer>
			<key>Height</key>
			<integer>44</integer>
			<key>Image</key>
			<dict>
				<key>Color</key>
				<string>@TintColor</string>
				<key>Width</key>
				<integer>44</integer>
				<key>Height</key>
				<integer>44</integer>
				<key>Padding</key>
				<integer>5</integer>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Color</key>
				<string>@SelectedTintColor</string>
				<key>Width</key>
				<integer>44</integer>
				<key>Height</key>
				<integer>44</integer>
				<key>Padding</key>
				<integer>5</integer>
			</dict>
		</dict>
		<key>NavigationBarArchiveButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarArchiveButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarArchiveButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarBackButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarBackButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarBackButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarCancelButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarCancelButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarCancelButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarDismissKeyboardButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarDismissKeyboardButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarDismissKeyboardButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarInfoButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarInfoButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarInfoButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarOkButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarOkButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarOkButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarPlusButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarPlusButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarPlusButton.png</string>
			</dict>
			<key>DisabledImage</key>
			<dict>
				<key>Color</key>
				<string>@DisabledTintColor</string>
				<key>Template</key>
				<string>ToolbarPlusButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarPhotoLibraryButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarPhotoLibraryButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarPhotoLibraryButtonSelected.png</string>
			</dict>
		</dict>
		<key>NavigationBarSettingsButton</key>
		<dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ToolbarSettingsButton.png</string>
			</dict>
			<key>SelectedImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarSettingsButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarBlack</key>
		<dict>
			<key>Height</key>
			<integer>44</integer>
			<key>BackgroundColor</key>
			<string>00000080</string>
		</dict>
		<key>NavigationBarBlackButton</key>
		<dict>
			<key>Width</key>
			<integer>30</integer>
			<key>Height</key>
			<integer>30</integer>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>ffffff</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>@NavigationBar.Title.Font.Size</string>
				</dict>
			</dict>
			<key>SelectedTitle</key>
			<dict>
				<key>TextColor</key>
				<string>ffffff80</string>
				<key>Font</key>
				<dict>
					<key>Size</key>
					<string>@NavigationBarBlackButton.Title.Font.Size</string>
				</dict>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>@NavigationBarBlackButton.Title.TextColor</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>4</integer>
					<key>Left</key>
					<integer>4</integer>
					<key>Right</key>
					<integer>4</integer>
					<key>Bottom</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>@NavigationBarBlackButton.SelectedTitle.TextColor</string>
				<key>CapInsets</key>
				<dict>
					<key>Top</key>
					<integer>4</integer>
					<key>Left</key>
					<integer>4</integer>
					<key>Right</key>
					<integer>4</integer>
					<key>Bottom</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
		<key>NavigationBarBlackDoneButton</key>
		<dict>
			<key>Width</key>
			<integer>54</integer>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>Done</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarButtonOutlineBackground.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarButtonOutlineBackground.png</string>
			</dict>
		</dict>
		<key>NavigationBarNormalImageButton</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarNormalImageButton.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarNormalImageButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarOcrImageButton</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarOcrImageButton.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarOcrImageButton.png</string>
			</dict>
		</dict>
		<key>NavigationBarSpotlightImageButton</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarSpotlightImageButton.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>ToolbarSpotlightImageButton.png</string>
			</dict>
		</dict>
		<key>NoteImage</key>
		<dict>
			<key>MaskAlpha</key>
			<real>0.33</real>
			<key>MaximumZoomScale</key>
			<integer>4</integer>
			<key>SpotlightBorderWidth</key>
			<real>2</real>
		</dict>
		<key>NoteSheetPopover</key>
		<dict>
			<key>Background</key>
			<dict>
				<key>ClipsToBounds</key>
				<true/>
			</dict>
			<key>ScreenPercentage</key>
			<string>0.66</string>
			<key>Padding</key>
			<integer>0</integer>
			<key>Margin</key>
			<integer>10</integer>
			<key>MaskAlpha</key>
			<real>0.5</real>
			<key>ShadowColor</key>
			<string>00000000</string>
		</dict>
		<key>NoteSheetTable</key>
		<dict/>
		<key>NoteSheetTableCell</key>
		<dict>
			<key>BackgroundColor</key>
			<string>ffffff00</string>
			<key>Padding</key>
			<dict>
				<key>Left</key>
				<integer>8</integer>
			</dict>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
			<key>SmallFont</key>
			<dict>
				<key>Size</key>
				<real>12.5</real>
			</dict>
			<key>Text</key>
			<dict>
				<key>Margin</key>
				<dict>
					<key>Right</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
		<key>NoteSheetTableCellButton</key>
		<dict>
			<key>Height</key>
			<integer>49</integer>
			<key>Width</key>
			<integer>49</integer>
		</dict>
		<key>NoteSheetTableCellCallButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetCallButton.png</string>
		</dict>
		<key>NoteSheetTableCellChromeButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetChromeButton.png</string>
		</dict>
		<key>NoteSheetTableCellContactButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetContactButton.png</string>
		</dict>
		<key>NoteSheetTableCellDateButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetDateButton.png</string>
		</dict>
		<key>NoteSheetTableCellEmailButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetEmailButton.png</string>
		</dict>
		<key>NoteSheetTableCellGoogleMapsButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetGoogleMapsButton.png</string>
		</dict>
		<key>NoteSheetTableCellMapButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetMapButton.png</string>
		</dict>
		<key>NoteSheetTableCellMessageButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetMessageButton.png</string>
		</dict>
		<key>NoteSheetTableCellSafariButton</key>
		<dict>
			<key>Image</key>
			<string>NoteSheetSafariButton.png</string>
		</dict>
		<key>Note</key>
		<dict>
			<key>ScanningTitle</key>
			<string>Scanning...</string>
			<key>EmptyTitle</key>
			<string>No Text</string>
			<key>BackgroundColor</key>
			<string>ffffff</string>
			<key>TextColor</key>
			<string>333333</string>
			<key>Font</key>
			<dict>
				<key>Size</key>
				<integer>14</integer>
			</dict>
		</dict>
		<key>NoteArchiveAlertArchiveButton</key>
		<string>@ArchiveText</string>
		<key>NoteDeleteAlertDeleteButton</key>
		<string>@DeleteText</string>
		<key>NoteNavigationBar</key>
		<dict>
			<key>UnsavedTitle</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Italic</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>NoteTable</key>
		<dict>
			<key>ArchiveButtonTitle</key>
			<string>@UnarchiveText</string>
			<key>SeparatorColor</key>
			<string>f0f0f0</string>
		</dict>
		<key>NoteTableCell</key>
		<dict>
			<key>Height</key>
			<integer>74</integer>
			<key>Padding</key>
			<dict>
				<key>Top</key>
				<integer>0</integer>
				<key>Right</key>
				<integer>0</integer>
				<key>Bottom</key>
				<integer>0</integer>
				<key>Left</key>
				<integer>10</integer>
			</dict>
			<key>Text</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<true/>
					<key>Size</key>
					<integer>12</integer>
				</dict>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>DetailText</key>
			<dict>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<false/>
					<key>Size</key>
					<integer>12</integer>
				</dict>
				<key>NumberOfLines</key>
				<integer>3</integer>
			</dict>
			<key>Thumbnail</key>
			<dict>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<integer>0</integer>
					<key>Right</key>
					<integer>10</integer>
					<key>Bottom</key>
					<integer>0</integer>
					<key>Left</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DeleteButton</key>
			<dict>
				<key>Height</key>
				<integer>74</integer>
				<key>Width</key>
				<integer>110</integer>
				<key>Title</key>
				<dict>
					<key>Text</key>
					<string>@DeleteText</string>
					<key>TextColor</key>
					<string>ffffff</string>
					<key>Font</key>
					<dict>
						<key>Size</key>
						<integer>18</integer>
					</dict>
				</dict>
				<key>BackgroundColor</key>
				<string>f84040</string>
				<key>SelectedBackgroundImage</key>
				<dict>
					<key>Color</key>
					<string>c81010</string>
				</dict>
			</dict>
			<key>DeleteButtonDragThreshold</key>
			<real>0.5</real>
			<key>DeleteButtonBounceWidth</key>
			<integer>110</integer>
			<key>ArchiveButton</key>
			<dict>
				<key>Height</key>
				<integer>74</integer>
				<key>Width</key>
				<integer>256</integer>
				<key>BackgroundColor</key>
				<string>e0e0e0</string>
				<key>Title</key>
				<dict>
					<key>TextColor</key>
					<string>000000</string>
					<key>Font</key>
					<dict>
						<key>Size</key>
						<integer>16</integer>
					</dict>
				</dict>
				<key>Image</key>
				<dict>
					<key>Template</key>
					<string>ArrowRight.png</string>
					<key>Color</key>
					<string>606060</string>
				</dict>
				<key>ImageMargin</key>
				<dict>
					<key>Right</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>ArchiveButtonDragThreshold</key>
			<real>0.5</real>
		</dict>
		<key>NoteTableArchiveCell</key>
		<dict>
			<key>Text</key>
			<string>@ArchiveText</string>
			<key>TextFont</key>
			<dict>
				<key>Size</key>
				<integer>16</integer>
				<key>Bold</key>
				<false/>
			</dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>ArchiveIcon.png</string>
				<key>Color</key>
				<string>333333</string>
			</dict>
		</dict>
		<key>NoteToolbar</key>
		<dict>
			<key>Height</key>
			<integer>49</integer>
			<key>Spacer</key>
			<integer>25</integer>
			<key>Margin</key>
			<dict>
				<key>Left</key>
				<integer>-8</integer>
				<key>Right</key>
				<integer>-8</integer>
			</dict>
		</dict>
		<key>NoteToolbarButton</key>
		<dict>
			<key>Height</key>
			<integer>49</integer>
			<key>Width</key>
			<integer>60</integer>
			<key>Title</key>
			<dict>
				<key>AdjustsFontSize</key>
				<true/>
				<key>TextColor</key>
				<string>@TintColor</string>
				<key>Font</key>
				<dict>
					<key>Bold</key>
					<false/>
					<key>Size</key>
					<integer>10</integer>
				</dict>
				<key>Margin</key>
				<dict>
					<key>Top</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>SelectedTitle</key>
			<dict>
				<key>TextColor</key>
				<string>@SelectedTintColor</string>
			</dict>
			<key>DisabledTitle</key>
			<dict>
				<key>TextColor</key>
				<string>@DisabledTintColor</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>@TintColor</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>@SelectedTintColor</string>
			</dict>
			<key>DisabledBackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>@DisabledTintColor</string>
			</dict>
		</dict>
		<key>NoteToolbarDeleteButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>@DeleteText</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteDeleteButton.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteDeleteButton.png</string>
			</dict>
			<key>DisabledBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteDeleteButton.png</string>
			</dict>
		</dict>
		<key>NoteToolbarCopyButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>Copy</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteCopyButton.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteCopyButton.png</string>
			</dict>
			<key>DisabledBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteCopyButton.png</string>
			</dict>
		</dict>
		<key>NoteToolbarArchiveButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>@ArchiveText</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteArchiveButton.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteArchiveButton.png</string>
			</dict>
			<key>DisabledBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteArchiveButton.png</string>
			</dict>
		</dict>
		<key>NoteToolbarUnarchiveButton</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>Text</key>
				<string>@UnarchiveText</string>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteUnarchiveButton.png</string>
			</dict>
			<key>SelectedBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteUnarchiveButton.png</string>
			</dict>
			<key>DisabledBackgroundImage</key>
			<dict>
				<key>Template</key>
				<string>NoteUnarchiveButton.png</string>
			</dict>
		</dict>
		<key>Notification</key>
		<dict>
			<key>AnimationScale</key>
			<real>1.5</real>
			<key>AnimationDuration</key>
			<real>0.75</real>
			<key>BackgroundColor</key>
			<string>@TintColor</string>
			<key>CornerRadius</key>
			<integer>3</integer>
			<key>DescriptionTextColor</key>
			<string>ffffff</string>
			<key>DescriptionFont</key>
			<dict>
				<key>Size</key>
				<string>18</string>
			</dict>
			<key>DescriptionMargin</key>
			<dict>
				<key>Top</key>
				<string>10</string>
				<key>Bottom</key>
				<string>10</string>
				<key>Left</key>
				<integer>20</integer>
				<key>Right</key>
				<integer>20</integer>
			</dict>
		</dict>
		<key>PopoverBackground</key>
		<dict>
			<key>ArrowBase</key>
			<integer>34</integer>
			<key>ArrowHeight</key>
			<integer>17</integer>
			<key>CornerRadius</key>
			<integer>6</integer>
			<key>Padding</key>
			<integer>8</integer>
			<key>BackgroundColor</key>
			<string>ffffff</string>
		</dict>
		<key>Scanner</key>
		<dict>
			<key>MaskAlpha</key>
			<real>0.5</real>
			<key>SweepDuration</key>
			<integer>2</integer>
			<key>FadeDuration</key>
			<real>0.3</real>
		</dict>
		<key>TableCell</key>
		<dict>
			<key>TextColor</key>
			<string>333333</string>
			<key>BackgroundColor</key>
			<string>ffffff</string>
			<key>SelectedTextColor</key>
			<string>333333</string>
			<key>SelectedBackgroundColor</key>
			<string>d9d9d9</string>
		</dict>
		<key>TableCellAccessory</key>
		<dict>
			<key>Height</key>
			<integer>13</integer>
			<key>Width</key>
			<integer>8</integer>
			<key>Margin</key>
			<dict>
				<key>Right</key>
				<integer>10</integer>
			</dict>
			<key>Image</key>
			<dict>
				<key>Template</key>
				<string>TableCellAccessory.png</string>
				<key>Color</key>
				<string>808080</string>
			</dict>
		</dict>
		<key>TableSectionHeader</key>
		<dict>
			<key>Height</key>
			<integer>24</integer>
			<key>TextColor</key>
			<string>000000</string>
			<key>Font</key>
			<dict>
				<key>Bold</key>
				<true/>
				<key>Size</key>
				<integer>15</integer>
			</dict>
			<key>Padding</key>
			<dict>
				<key>Left</key>
				<integer>6</integer>
			</dict>
			<key>BackgroundColor</key>
			<string>f7f7f7</string>
			<key>BackgroundImage</key>
			<dict>
				<key>Color</key>
				<string>@TableSectionHeader.BackgroundColor</string>
			</dict>
		</dict>
	</dict>
	<key>iOS6</key>
	<dict>
		<key>StatusBarStyle</key>
		<string>BlackOpaque</string>
		<key>BarButtonItem</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>TextColor</key>
				<string>@TintColor</string>
			</dict>
			<key>SelectedTitle</key>
			<dict>
				<key>TextColor</key>
				<string>@SelectedTintColor</string>
			</dict>
		</dict>
		<key>NavigationBar</key>
		<dict>
			<key>BarStyle</key>
			<string>Default</string>
			<key>Translucent</key>
			<false/>
			<key>TintColor</key>
			<string>@NULL</string>
			<key>ClipsToBounds</key>
			<false/>
			<key>Title</key>
			<dict>
				<key>VerticalOffset</key>
				<integer>2</integer>
				<key>LandscapeVerticalOffset</key>
				<integer>2</integer>
			</dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Height</key>
				<integer>44</integer>
				<key>StartColor</key>
				<string>fbfbfb</string>
				<key>EndColor</key>
				<string>f6f6f6</string>
			</dict>
			<key>ShadowImage</key>
			<dict>
				<key>Height</key>
				<integer>2</integer>
				<key>Width</key>
				<integer>1</integer>
				<key>Color</key>
				<string>66666600</string>
				<key>Border</key>
				<dict>
					<key>Top</key>
					<integer>1</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Top</key>
					<string>66666680</string>
				</dict>
			</dict>
		</dict>
		<key>NavigationBarButton</key>
		<dict>
			<key>RightSpacer</key>
			<integer>0</integer>
		</dict>
		<key>NoteToolbar</key>
		<dict>
			<key>BackgroundImage</key>
			<dict>
				<key>Height</key>
				<integer>49</integer>
				<key>StartColor</key>
				<string>fbfbfb</string>
				<key>EndColor</key>
				<string>f6f6f6</string>
			</dict>
			<key>Margin</key>
			<dict>
				<key>Left</key>
				<integer>-4</integer>
				<key>Right</key>
				<integer>-4</integer>
			</dict>
			<key>ShadowImage</key>
			<dict>
				<key>Height</key>
				<integer>2</integer>
				<key>Width</key>
				<integer>1</integer>
				<key>Color</key>
				<string>66666600</string>
				<key>Border</key>
				<dict>
					<key>Bottom</key>
					<integer>1</integer>
				</dict>
				<key>BorderColor</key>
				<dict>
					<key>Bottom</key>
					<string>66666680</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>iPad</key>
	<dict>
		<key>Crop</key>
		<dict>
			<key>ZoomMargin</key>
			<integer>64</integer>
		</dict>
		<key>PopoverBackground</key>
		<dict>
			<key>ArrowBase</key>
			<integer>38</integer>
			<key>ArrowHeight</key>
			<integer>19</integer>
		</dict>
		<key>NoteSheetPopover</key>
		<dict>
			<key>ScreenPercentage</key>
			<string>0.9</string>
		</dict>
	</dict>
</dict>
</plist>
