
$bracing-blue: #007aff;
$images-path: "images/";
$perspective: 300;

@mixin text-shadow($shadows...) {
    -webkit-text-shadow: $shadows;
    -moz-text-shadow: $shadows;
    -o-text-shadow: $shadows;
    text-shadow: $shadows;
}

@mixin background-size($sizes...) {
    -webkit-background-size: $sizes;
    -moz-background-size: $sizes;
    -o-background-size: $sizes;
    background-size: $sizes;
}

@mixin border-radius($radius...) {
    -moz-border-radius: $radius;
    -khtml-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin translateZ($z) {
    -ms-transform: translateZ(#{$z}px);
    -webkit-transform: translateZ(#{$z}px);
    transform: translateZ(#{$z}px);
}

@mixin translateZScale($z) {
    $scale: 1 + ($z * -1) / $perspective;
    -ms-transform: translateZ(#{$z}px) scale($scale);
    -webkit-transform: translateZ(#{$z}px) scale($scale);
    transform: translateZ(#{$z}px) scale($scale);
}

/***************
 * Global Style
 ***************/
html,
body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;

    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
}

sup {
    font-size: 0.75em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    font-variant: small-caps;
}

.clear {
    clear: both;
}

/***********
 * Parallax
 ***********/
.parallax {
    -webkit-perspective: #{$perspective}px;
    perspective: #{$perspective}px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .parallax-group {
        position: relative;
        transform-style: preserve-3d;
        // transform: translate3d(700px, 0, -800px) rotateY(30deg);
    }

    .parallax-layer {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: 1000;
    }

    $up-layer-count: 10;
    $up-step: $perspective / $up-layer-count;
    $up-z: 0;
    @for $i from 1 through $up-layer-count {
        .parallax-up-#{$i} {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: 1000 + $i;

            $weight: 1.65 * ($up-layer-count - ($i - 1)) / $up-layer-count;
            $up-z: $up-z + ($up-step * $weight);

            @include translateZScale($up-z);
        }
    }

    $down-layer-count: 10;
    $down-step: $perspective;
    $down-z: 0;
    @for $i from 1 through $down-layer-count {
        .parallax-down-#{$i} {
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            z-index: 1000 - $i;

            $weight: 0.25 * $down-layer-count / ($down-layer-count - ($i - 1));
            $down-z: $down-z - ($down-step * $weight);

            @include translateZScale($down-z);
        }
    }
}

/**********
 * Bubbles
 **********/
$bubble-width: 24;
$bubble-color: transparent;
$bubble-border-color: #fff;
.bubble {
    width: #{$bubble-width}px;
    height: #{$bubble-width}px;

    background: $bubble-color;
    border: 2px solid $bubble-border-color;

    @include border-radius(50%);

    position: absolute;
    z-index: 1000;
}

@for $i from 0 through 3 {
    $z-offset: $perspective / 4;
    $z-max: 1200;
    $z: $z-offset - random($z-max + $z-offset);
    $percent: 100;
    $spread: round($percent * (($perspective - $z) / $perspective));
    $margin: (($spread - $percent) / 2);
    $bubble-count: 10;

    #bubble-layer-#{$i} {
        @include translateZ($z);
        // content: $spread + "%, from " + (0 - $margin) + "% to " + (100 + $margin) + "%";
    }

    @for $j from 0 through ($bubble-count - 1) {
        $y: random($spread) - $margin;
        $x: random($spread) - $margin;
        #bubble-#{($i * $bubble-count) + $j} {
            top: $y * 1%;
            left: $x * 1%;
            margin-left: #{(0 - $bubble-width / 2)}px;
        }
    }
}

/*********
 * Slides
 *********/
#intro {
    width: 100%;
    height: 100%;
    text-align: center;

    h1 {
        font-size: 4em;
        margin-top: 2em;
    }
}

#bubbles, #charity, #contact {

}

#bubbles {
    width: 100%;
    height: 100%;
}

#charity {
    width: 100%;
    text-align: center;
    margin-bottom: 10em;

    h1 {
        font-size: 2.5em;
    }

    #charity-logo {
        font-size: 1.5em;
        display: inline-block;
        text-align: left;

        #charity-logo-text {
            text-align: right;

            #charity-the, #charity-human, #charity-fund, #charity-money {
                font-family: "Times New Roman", Times, serif;
            }

            #charity-the {
                font-size: 2em;

                span {
                    display: inline-block;
                    padding: 0 0.225em 0 0.125em;
                    text-align: center;
                }

                span.left {
                    width: 1em;
                }

                span.right {
                    width: 5.9em;
                }

                span.underline {
                    border-bottom: 1px #ffff80 solid;
                }
            }

            #charity-human {
                color: #ffffff;
            }

            #charity-the, #charity-fund, #charity-money {
                color: #ffff80;
            }

            #charity-human, #charity-fund {
                font-size: 5.25em;
                line-height: 1em;
            }

            #charity-money {
                font-size: 2em;
                font-style: italic;
                line-height: 1.75em;

                span {
                    border-top: 1px #ffff80 solid;
                }
            }
        }

        #charity-logo-image {
            background-position: 50% 50%;
            background-size: 100%;
            width: 5em;
            margin: -8.5em 1em 0 0;
        }
    }
}

#contact {
    width: 100%;
    text-align: center;
    margin-bottom: 10em;

    a {
        color: $bracing-blue;
    }

    #bracingeffect-logo {
        background-position: 50% 50%;
        background-size: 100%;
        width: 16em;
    }

    .email {
        font-size: 1.5em;
        width: 100%;
    }
}

/********************
 * Background Images
 ********************/
.background-image {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    font-size: 1em;
    line-height: 0;
    text-shadow: none;
    vertical-align: middle;
}

.spacer {
    display: block;
    height: 0;
}

@each $w, $h, $padding in (1, 1, 100%),
                          (1, 2, 200%),
                          (2, 1, 50%),
                          (3, 4, 133%),
                          (4, 1, 25%),
                          (4, 3, 75%),
                          (5, 6, 120%),
                          (6, 7, 116.67%) {
    .ratio-#{$w}x#{$h} .spacer, .ratio-#{$w}x#{$h} > .spacer {
        padding-top: #{$padding};
    }
}

#parsnip{background-image:url(#{$images-path}parsnip640x160.png)}
#parsnip-badge{background-image:url(#{$images-path}badge135x40.png)}
#charity-logo-image{background-image:url(#{$images-path}thehumanfund320x640.png)}
#bracingeffect-logo{background-image:url(#{$images-path}logo660x295.png)}

@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-moz-min-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
    #parsnip{background-image:url(#{$images-path}parsnip1280x320.png)}
    #parsnip-badge{background-image:url(#{$images-path}badge270x80.png)}
    #charity-logo-image{background-image:url(#{$images-path}thehumanfund640x1280.png)}
    #bracingeffect-logo{background-image:url(#{$images-path}logo1320x589.png)}
}
